{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AustinLynum.com</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="austinlynum.com" />
	<meta name="keywords" content="resume, portfolio, full stack engineer, software engineer, python, black in tech, devops" />
	<meta name="author" content="Austin Lynum" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content="AustinLynum.com"/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content="austinlynum.com"/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="AustinLynum.com" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="austinlynum.com" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">

	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'groundzero/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'groundzero/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'groundzero/css/bootstrap.css' %}">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'groundzero/css/flexslider.css' %}">
	<!-- Flaticons  -->
	<!--<link rel="stylesheet" href="{% static 'groundzero/fonts/flaticon/font/flaticon.css' %}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'groundzero/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'groundzero/css/owl.theme.default.min.css' %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'groundzero/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'groundzero/js/modernizr-2.6.2.min.js' $}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'groundzero/js/respond.min.js' %}"></script>
	<![endif]-->

	</head>
	<body>
	<div id="colorlib-page">
		<div class="container-wrap">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
			<div class="text-center">
				<div class="author-img" style="background-image: url({% static "groundzero/images/ME.jpg" %});"></div>
				<h1 id="colorlib-logo"><a href="#">Austin Lynum</a></h1>
				<span class="position"><a href="#">DevOps Engineer, Full Stack Developer & Creative Director</a> in Austin, TX</span>
			</div>
			<nav id="colorlib-main-menu" role="navigation" class="navbar">
				<div id="navbar" class="collapse">
					<ul>
						<li class="active"><a href="#" data-nav-section="home">Home</a></li>
						<li><a href="#" data-nav-section="about">About</a></li>
						<li><a href="#" data-nav-section="skills">Skills</a></li>
						<li><a href="#" data-nav-section="education">Education</a></li>
						<li><a href="#" data-nav-section="experience">Experience</a></li>
						<li><a href="#" data-nav-section="contact">Contact</a></li>
					</ul>
				</div>
			</nav>

			<div class="colorlib-footer">
				<ul>
					<li><a href="https://twitter.com/cre8iveintel"><i class="icon-twitter2"></i></a></li>
					<li><a href="https://www.instagram.com/m1xedbyatx/"><i class="icon-instagram"></i></a></li>
					<li><a href="https://www.linkedin.com/in/austinlynum/"><i class="icon-linkedin2"></i></a></li>
					<li><a href="https://github.com/Austin33"><i class="icon-github"></i></a></li>
				</ul>
			</div>
		</aside>

		<div id="colorlib-main">
			<section id="colorlib-hero" class="js-fullheight" data-section="home">
				<div class="flexslider js-fullheight">
					<ul class="slides">
				   	<li style="background-image: url({% static "groundzero/images/ME.jpg" %});">
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
					   				<div class="slider-text-inner js-fullheight">
					   					<div class="desc">
											</div>
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
				   	<li style="background-image: url({% static "groundzero/images/quita_dream-070-hires-web.jpg" %});">
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
					   				<div class="slider-text-inner">
					   					<div class="desc">
											</div>
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
				  	</ul>
			  	</div>
			</section>
			<section class="colorlib-about" data-section="about">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta">About Me</span>
										<h2 class="colorlib-heading">Who Am I?</h2>
										<p>I wear alot of hats so needless to say I'm usually very busy. For starters, professionally I am a Lead DevOps Engineer with over 16 years of experience on the operations side of IT. I started coding in my early preteen years but never really utilized it in my professional career. Now and days I've been touching up on those skills by working on my own projects. This website being the first. Aside from tech, I also am a musician. I've been playing the piano for over 15 years. I produce and engineer music for major and independent recording artists. I also have an eye for photography producing photo and video content for recording artists. Overall I am an Executive Producer in the music world. No Grammy awards yet but they will be won soon enough.</p>
										<p><strong>My Top 5 Goals</strong></p>
										<ul>Obtain a Leadership position as a manager of a DevOps team and/or the engineering team as a whole by mid 2023.</ul>
										<ul>Become CTO by 2024 if I dont build my own startup</ul>
										<ul>Get a song I produced or engineered placed on the Billboard Top 100 list or placed in a major movie/tv show.</ul>
										<ul>Create a real estate portfolio for passive income.</ul>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
									<div class="services color-1">
										<span class="icon2"><i class="icon-music2"></i></span>
										<h3>Film & Music Production</h3>
									</div>
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
									<div class="services color-2">
										<span class="icon2"><i class="icon-html-five2"></i></span>
										<h3>Web Development</h3>
									</div>
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInTop">
									<div class="services color-3">
										<span class="icon2"><i class="icon-data"></i></span>
										<h3>DevOps Engineering</h3>
									</div>
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInBottom">
									<div class="services color-4">
										<span class="icon2"><i class="icon-phone3"></i></span>
										<h3>Python Development</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="colorlib-skills" data-section="skills">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">My Specialty</span>
							<h2 class="colorlib-heading animate-box">My Skills</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
							<p>I have a very unique skill-set which allows me to be very versatile in the type of services I provide to clients. When it comes to technology, theres nothing that I cant do. I'm always learning new technologies. Staying up to date on the bleeding edge of methods and practices within the Tech Industry. I have a solid background as a music and film production as well which gives me the license to be creative in provide unique solutions for clients that will increase their revenue.</p>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>Python</h3>
								<div class="progress">
								 	<div class="progress-bar color-1" role="progressbar" aria-valuenow="90"
								  	aria-valuemin="0" aria-valuemax="100" style="width:90%">
								    <span>90%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>Kubernetes</h3>
								<div class="progress">
								 	<div class="progress-bar color-1" role="progressbar" aria-valuenow="95"
								  	aria-valuemin="0" aria-valuemax="100" style="width:95%">
								    <span>95%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>Amazon Web Services</h3>
								<div class="progress">
								 	<div class="progress-bar color-2" role="progressbar" aria-valuenow="95"
								  	aria-valuemin="0" aria-valuemax="100" style="width:95%">
								    <span>95%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>CI/CD Pipelines</h3>
								<div class="progress">
								 	<div class="progress-bar color-2" role="progressbar" aria-valuenow="85"
								  	aria-valuemin="0" aria-valuemax="100" style="width:90%">
								    <span>90%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>Linux Administration</h3>
								<div class="progress">
								 	<div class="progress-bar color-3" role="progressbar" aria-valuenow="95"
								  	aria-valuemin="0" aria-valuemax="100" style="width:95%">
								    <span>95%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>Terraform</h3>
								<div class="progress">
								 	<div class="progress-bar color-3" role="progressbar" aria-valuenow="90"
								  	aria-valuemin="0" aria-valuemax="100" style="width:90%">
								    <span>90%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>Ansible</h3>
								<div class="progress">
								 	<div class="progress-bar color-4" role="progressbar" aria-valuenow="80"
								  	aria-valuemin="0" aria-valuemax="100" style="width:80%">
								    <span>80%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>Audio Engineering(Live/Studio)</h3>
								<div class="progress">
								 	<div class="progress-bar color-4" role="progressbar" aria-valuenow="75"
								  	aria-valuemin="0" aria-valuemax="100" style="width:100%">
								    <span>100%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>Music Production</h3>
								<div class="progress">
								 	<div class="progress-bar color-5" role="progressbar" aria-valuenow="70"
								  	aria-valuemin="0" aria-valuemax="100" style="width:100%">
								    <span>100%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>Film Production</h3>
								<div class="progress">
								 	<div class="progress-bar color-5" role="progressbar" aria-valuenow="70"
								  	aria-valuemin="0" aria-valuemax="100" style="width:95%">
								    <span>95%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>Photography</h3>
								<div class="progress">
								 	<div class="progress-bar color-6" role="progressbar" aria-valuenow="65"
								  	aria-valuemin="0" aria-valuemax="100" style="width:90%">
								    <span>90%</span>
								  	</div>
								</div>
							</div>
						</div>
					</div>
					<p>Creative Portfolio Site complete with my video reel, photographs, and music coming soon!</p>
				</div>
			</section>
			<section class="colorlib-education" data-section="education">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta"></span>
							<h2 class="colorlib-heading animate-box">Education</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
							<div class="fancy-collapse-panel">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingOne">
									        <h4 class="panel-title">
									            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Associates Degree in Computer Science
									            </a>
									        </h4>
									    </div>
									    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									         <div class="panel-body">
									            <div class="row">
										      		<div class="col-md-6">
										      			<p> 2001-2004 </p>
										      		</div>
										      		<div class="col-md-6">
										      			<p>Computer Science<br>Calhoun Community College</p>
										      		</div>
										      	</div>
									         </div>
									    </div>
									</div>

									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingThree">
									        <h4 class="panel-title">
									            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Diploma in Information Technology
									            </a>
									        </h4>
									    </div>
									    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
									        <div class="panel-body">
												<div class="row">
										      		<div class="col-md-6">
										      			<p> 2000-2001 </p>
										      		</div>
										      		<div class="col-md-6">
										      			<p>Information Technology<br>Gadsden Job Corp</p>
										      		</div>
									        </div>
									    </div>
									</div>

									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingFour">
									        <h4 class="panel-title">
									            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">High School Secondary Education
									            </a>
									        </h4>
									    </div>
									    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
									        <div class="panel-body">
												<div class="row">
										      		<div class="col-md-6">
										      			<p> 1998-2001 </p>
										      		</div>
										      		<div class="col-md-6">
										      			<p>General EDU<br>Sparkman High School</p>
										      		</div>
									        </div>
									    </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="colorlib-experience" data-section="experience">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta"></span>
							<h2 class="colorlib-heading animate-box">Work Experience</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
				         <div class="timeline-centered">
							  <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">

					               <div class="timeline-icon color-1">
					                  <i class="icon-pen2"></i>
					               </div>

					               <div class="timeline-label">
					                  <h2><a href="#">DevOps Consultant @ Diag Partners</a> <span>2021-Present</span></h2>
					                  <p><ul>
									   <li>Provide DevOps consulting services for startups like Airtank and others.</li>
									   <li>Designing solutions for CI/CD Pipelines and resolving other infrastructure issues.</li>
								   </ul></p>
					               </div>
					            </div>
					         </article>

							 <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">

					               <div class="timeline-icon color-1">
					                  <i class="icon-pen2"></i>
					               </div>

					               <div class="timeline-label">
					                  <h2><a href="#">Technical Support Engineer @ GTT Communications, Inc.</a> <span>2021-Present</span></h2>
					                  <p><ul>
									   <li>I work as a Tier 2 Support Engineer for our Managed Secure Services clients.</li>
									   <li>We take in request for changes from customers as well as incident tickets and resolve the issue per the SLA with each client.</li>
								   </ul></p>
					               </div>
					            </div>
					         </article>

							 <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">

					               <div class="timeline-icon color-1">
					                  <i class="icon-pen2"></i>
					               </div>

					               <div class="timeline-label">
					                  <h2><a href="#">Lead DevOps Engineer @ Senseye, Inc.</a> <span>2019-2021</span></h2>
					                  <p><ul>
									   <li>I oversaw the Systems Engineering team which are responsible for the development and deployment of our software/API infrastructure solutions.</li>
									   <li>We provisioned development and production infrastructure (cloud and on-prem) for our family of software products using AWS as our main cloud services provider as well as other colocation providers that we have strategic partnerships with.</li>
									   <li>Deploy automated updates to production using our solid CI/CD pipeline.</li>
									   <li>Worked with the Product Engineering team to develop our final customer facing products.</li>
									   <li>I also oversaw our IT inventory/asset tracking as well as maintaining our monthly IT budget.</li>
								   </ul></p>
					               </div>
					            </div>
					         </article>

							 <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">

					               <div class="timeline-icon color-1">
					                  <i class="icon-pen2"></i>
					               </div>

					               <div class="timeline-label">
					                  <h2><a href="#">Associate Support Analyst @ Abrigo</a> <span>2019-2019</span></h2>
					                  <p><ul>
									   <li>Basic teir one over the phone support for Abrigo's FinTech software products.</li>
								   </ul></p>
					               </div>
					            </div>
					         </article>

					         <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">

					               <div class="timeline-icon color-1">
					                  <i class="icon-pen2"></i>
					               </div>

					               <div class="timeline-label">
					                  <h2><a href="#">Data Center Technician @ Snapfish</a> <span>2018-2019</span></h2>
					                  <p><ul>
									   <li>Worked with a team on a large data center decommission project.</li>
									   <li>Deployed new systems in a new data center facility that will be put into full production 1st Quater 2019.</li>
									   <li>Responsible for performing and executing installation projects, including the racking of equipment, servers, network uplinks, and power connections.</li>
									   <li>Respond to trouble ticket requests for hardware changes.</li>
								   </ul></p>
					               </div>
					            </div>
					         </article>


					         <article class="timeline-entry animate-box" data-animate-effect="fadeInRight">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-2">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					               	<h2><a href="#">Senior Data Center Technician @ Total Server Solutions, LLC</a> <span>2017-2018</span></h2>
					                  <p><ul>
									   <li>Successfully lead a team of 4 technicians in deploying 2000+ Cisco USC servers in multiple markets across the globe for a major video game development company.</li>
									   <li>Managed day-to-day operations of multiple data-centers including the preventative maintenance of Power, HVAC, and Fire Suppression Systems.</li>
									   <li>Provisioned new servers for clients, including racking and supplying network and power connections.</li>
									   <li>Monitored and resolved support tickets using Ubersmith and Fresh Desk for hardware and software reconfigurations.</li>
									   <li>Kept track of ongoing projects and documentation using Jira and Confluence.</li>
								   </ul></p>
					               </div>
					            </div>
					         </article>

					         <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-3">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					               	<h2><a href="#">Technical Engineer @ Colsa Corporation</a> <span>2008-2010</span></h2>
					                  <p><ul>
									   <li>Full-time Contractor for NASA's Marshall Space Flight Center in Huntsville, AL.</li>
									   <li>Provided help desk/IT Support to over two hundred NASA employee's working on the ISS support team.</li>
									   <li>Ensured network, system and data availability and integrity through preventative maintenence and system upgrades.</li>
									   <li>Implemented company policies, technical procedures and standards for preserving the integrity and security of data, reports and access.</li>
									   <li>Obtained a US Secret Security Clearance required for this position.</li>
								   </ul></p>
					               </div>
					            </div>
					         </article>

					         <article class="timeline-entry animate-box" data-animate-effect="fadeInTop">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-4">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					               	<h2><a href="#">Enterprise Server Support Engineer @ Dell</a> <span>2005-2008</span></h2>
					                  <p><ul>
									   <li>Provided over the phone technical support for Dell's Enterprise Bronze and Silver level support customers including medium to large businesses and data centers.</li>
									   <li>Assisted customers with a sense of urgency to quickly resolve issues with Dell Power Edge and Power Vault line of products.</li>
									   <li>Deployed replacement parts with a n on-site technician to quickly resolve hardware issues.</li>
									   <li>Received multiple awards for providing the best customer experience.</li>
								   </ul></p>
					               </div>
					            </div>
					         </article>

					         <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-5">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					               	<h2><a href="#">Founder @ Open Box Music Group</a> <span>2010-2018</span></h2>
					                  <p><ul>
									   <li>Founded a multimedia production firm where we specialize in creating marketing content for start ups and local musicians.</li>

								   </ul></p>
					               </div>
					            </div>
					         </article>

					         <article class="timeline-entry begin animate-box" data-animate-effect="fadeInBottom">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-none">
					               </div>
					            </div>
					         </article>
					      </div>
					   </div>
				   </div>
				</div>
			</section>

			<section class="colorlib-contact" data-section="contact">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Get in Touch</span>
							<h2 class="colorlib-heading">Contact</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="icon-globe-outline"></i>
								</div>
								<div class="colorlib-text">
									<p><a href="#">lynumaustin@gmail.com</a></p>
								</div>
							</div>

							<div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="icon-map"></i>
								</div>
								<div class="colorlib-text">
									<p>Austin TX 78728</p>
								</div>
							</div>

							<div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="icon-phone"></i>
								</div>
								<div class="colorlib-text">
									<p><a href="tel://">404 451 6783</a></p>
								</div>
							</div>
						</div>
						<!--<div class="col-md-7 col-md-push-1">
							<div class="row">
								<div class="col-md-10 col-md-offset-1 col-md-pull-1 animate-box" data-animate-effect="fadeInRight">
									<form action="">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Name">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Email">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Subject">
										</div>
										<div class="form-group">
											<textarea name="" id="message" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
										</div>
										<div class="form-group">
											<input type="submit" class="btn btn-primary btn-send-message" value="Send Message">
										</div>
									</form>
								</div> -->
								
							</div>
						</div>
					</div>
				</div>
			</section>

		</div><!-- end:colorlib-main -->
	</div><!-- end:container-wrap -->
	</div><!-- end:colorlib-page -->

	<!-- jQuery -->
	<script src="{% static 'groundzero/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'groundzero/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'groundzero/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'groundzero/js/jquery.waypoints.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'groundzero/js/jquery.flexslider-min.js' %}"></script>
	<!-- Owl carousel -->
	<script src="{% static 'groundzero/js/owl.carousel.min.js' %}"></script>
	<!-- Counters -->
	<script src="{% static 'groundzero/js/jquery.countTo.js' %}"></script>
	
	
	<!-- MAIN JS -->
	<script src="{% static 'groundzero/js/main.js' %}"></script>

	</body>
</html>

